.course-header.clearfix
	%img.logo.img-rounded{ :src => "/assets/logo.png" }
	%h1 我的家乡

.new-plan.section.clearfix
	.pull-left
		%h1 让孩子获得更有意思的课程
		%p 为“我的家乡”这个主题建立一个有意思的课程计划。
		%p
			%button.btn.btn-new-plan{ :onclick => 'window.location.href="/lessonplans/new"' }
				新的课程计划 
				%i.icon-plus-sign.icon-white
  
	%img.pull-right.hero{ :src => "assets/hero.png" }
.ongoing-plan.row.clearfix
	.span12
		%section
			%h3 设计中的
			%p 为这些正在计划中的开放课堂提供你的观点和建议吧。
		- @lessonplans.each do |lessonplan|
			.span3
				%span.plan.pull-left
					%img.plan-avatar.img-rounded{ :src => "assets/image2.jpeg" }
				%span.plan-intro.pull-left
					%h5 
						= lessonplan.title
						%small.like-box
							%i.icon-heart.icon-white
							1293
					%p
						= lessonplan.content

		.span3
			%span.plan.pull-left
				%img.plan-avatar.img-rounded{ :src => "assets/image2.jpeg" }
			%span.plan-intro.pull-left
				%h5 
					家乡的湖
					%small.like-box
						%i.icon-heart.icon-white
						1293
				%p 让孩子去发现家乡的湖，让不同地方的孩子完成一个关于“家乡的湖”的作业
%hr.soften
.ongoing-plan.row.clearfix
