.course-header.clearfix
	%img.logo.img-rounded{ :src => "/assets/logo.png" }
	%h1 我的家乡

.new-plan.section.clearfix
	.container
		.pull-left
			%h1 让孩子获得更有意思的课程
			%p 为“我的家乡”这个主题建立一个有意思的课程计划。
			%p 
				%button.btn.btn-new-plan{ :onclick => "window.location.href='/lessonplans/new'" , :type => "button" }
					新的课程计划 
					%i.icon-plus-sign.icon-white
      
		%img.pull-right.hero{ :src => "assets/hero.png" }
.ongoing-plan.row.clearfix
	.span12
		%section
			%h3 设计中的
			%p 为这些正在计划中的开放课堂提供你的观点和建议吧。
	- @lessonplans.each_index do |idx|
		.span3
			%span.plan.pull-left
				%img.plan-avatar.img-rounded{ :src => @lessonplans[idx].symbol_img_url }
			%span.plan-intro.pull-left
				%h5 
					=link_to @lessonplans[idx].title, "/lessonplans/#{@lessonplans[idx].id}"
					%small.like-box
						%i.icon-heart.icon-white
						1293
				%p
					= @lessonplans[idx].short_description
%hr.soften
.ongoing-plan.row.clearfix
