<header>
	<nav>
		<h1><a href="/">开放课堂</a></h1>
		<ul>
			<li>
				<a href="/">首页</a>
			</li>
			<li>
				<a href="/contact">联系我们</a>
			</li>
		</ul>
	</nav>
	<div class="login-container">
		<div id="qq-login"><div>
	</div>
</header>
