.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{ :type => "button", :'data-toggle' => "collapse",  'data-target' => ".nav-collapse" }
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{ :href => "/" } 开放课堂
			.nav-collapse.collapse
				%ul.nav
					%li
						%a{ :href => "/" } 首页
					%li
						%a{ :href => "/lessonplans/new" } 创建新教案
					%li
						%a{ :href => "/contact" } 联系我们

				.login-container
					#qq-login
