.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{ :type => "button", :'data-toggle' => "collapse",  'data-target' => ".nav-collapse" }
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand{ :href => "./index.html" } 开放课堂
			.nav-collapse.collapse
				%ul.nav
					%li
						%a{ :href => "./index.html" } 首页
					%li
						%a{ :href => "./getting-started.html" } 关于
					%li
						%a{ :href => "./scaffolding.html" } 联系我们