- unless lessonplan.nil?
	%ul.plan-menu
		%li.current
			%a{ :href => "javascript:;" } 内容
		- if lessonplan.title == "造纸桥"
			%li
				%a{ :href => "/ppt.html" } 
					幻灯片
		%li
			%a{ :href => "#comments" }
				讨论
				%label= lessonplan.comments.length