%ul.teaser-list
	- lessonplans.reverse.each do |lessonplan|
		%li 
			%h4 
				%a{ :href => "#{lessonplan_path(lessonplan)}"}= lessonplan.title
			%p= lessonplan.short_description
			%a.enter{ :href => "#{lessonplan_path(lessonplan)}" } 进入