- if publisher.present?
	%aside.author
		%b.title 课程设计者
		%img.avatar{ :src => publisher.avatar_link }
		%a.name{ :href => publisher_path(publisher) }
			= publisher.name
		%p= publisher.short_description