/* WEBFONT */
@font-face {
    font-family: 'entypo';
    src: url('../webfont/entypo.eot');
    src: url('../webfont/entypo.eot?#iefix') format('embedded-opentype'),
         url('../webfont/entypo.woff') format('woff'),
         url('../webfont/entypo.ttf') format('truetype'),
         url('../webfont/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* COMMON */
html {
	background: url(../image/bg.png);
}
body {
	font-family: "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB", sans-serif;
}
a {
	text-decoration: none;
}
body.front-page:before {
	content: "";
	position: absolute;
	top: 483px; left: 0;
	width: 100%; height: 1px;
	background: #DDD;
}

/* HEADER */
header {
	position: fixed;
	top: 0; left: 0; z-index: 100;
	width: 100%;
	background-color: #2C2C2C repeat-x;
	background-image: -moz-linear-gradient(center top , #333333, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
header a {
	float: left;
	display: block;
	line-height: 40px;
}
header nav {
	width: 940px;
	margin: 0 auto;
}
header nav h1,
header nav ul {
	display: inline;
}
header nav h1 a {
	margin-right: 20px;
	font-weight: normal;
	font-size: 20px;
	color: #FFF;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	display: inline;
}
header nav ul li a {
	float: left;
	display: block;
	margin: 0 10px 0 0;
	font-size: 13px;
	color: #999;
	line-height: 40px;
}
header nav ul li a:hover {
	color: #FFF;
}
a.btn:hover, a.btn:active {
	background-color: #FBB963;
}
a.btn:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* MAIN */
article.main {
	position: relative;
	top: 37px;
}
article.main h2 {
	margin-top: 75px;
	font-size: 48px;
	font-weight: bold;
	color: #2A2A2A;
	text-align: center;
}
article.main small.slogan {
	display: block;
	margin-top: 15px;
	font-size: 20px;
	color: #888;
	line-height: 20px;
	text-align: center;
}
article.main section.description {
	margin-top: 75px;
	text-align: center;
}
article.main section.description ul {
	list-style: none;
	width: 940px;
	margin: auto;
	background: #FFF;
	box-shadow: 0 1px 5px #CCCCCC;
}
article.main section.description ul li {
	position: relative;
	display: inline-block;
	width: 180px; height: 230px;
	border-left: 1px solid #EEE;
	text-align: center;
}
article.main section.description ul li:first-child {
	border-left: 0;
}
article.main section.description ul li:before {
	position: absolute;
	display: block;
	margin: 0 auto;
	font-size: 150px;
	font-family: "entypo";
	color: #C7E5F2;
	text-align: center;
}
article.main section.description ul li.age:before {
	content: "🎓";
	top: -11px; left: 44px;
}
article.main section.description ul li.idea:before {
	content: "🚀";
	top: -10px; left: 50px;
}
article.main section.description ul li.design:before {
	content: "📰";
	top: -10px; left: 50px;
}
article.main section.description ul li.classroom:before {
	content: "👥";
	top: -10px; left: 45px;
}
article.main section.description ul li.feedback:before {
	content: "";
	top: -10px; left: 40px;
}
article.main section.description ul li b,
article.main section.description ul li small {
	display: block;
	text-align: center;
}
article.main section.description ul li b {
	margin-top: 125px;
	font-weight: bold;
	font-size: 18px;
	color: #2A2A2A;
	line-height: 30px;
}
article.main section.description ul li small {
	padding: 0 25px; margin-top: 5px;
	font-size: 13px;
	color: #666;
	line-height: 150%;
}
article.main section.example {
	width: 940px;
	margin: 0 auto;
	background: #FFF;
	border-top: 1px solid #CCC;
	box-shadow: 0 0 5px #CCCCCC;	
}
article.main section h3 {
	padding: 40px 40px 30px;
	font-size: 30px;
	font-weight: bold;
}
article.main section.example ul {
	list-style: none;
	padding: 10px 40px;
}
article.main section.example ul li {
	position: relative;
	padding: 20px 0 20px 80px;
	border-top: 1px solid #EEE;
}
article.main section.example ul li:before {
	content: "🔔";
    position: absolute;
    left: 0;
	background: #FE7B9D;
    color: #FFF;
    width: 60px;
    height: 60px;
	border-radius: 5px 5px 5px 5px;
    font-size: 80px;
    font-family: 'entypo';
    text-align: center;
    line-height: 60px;
}
article.main section.example ul li+li:before {
	content: "☕";
	background: #37B4AE;
}
article.main section.example ul li+li+li:before {
	content: "🔿";
	background: #389ABD;
}
article.main section.example ul li+li+li+li:before {
	content: "🔑";
	background: #FBB963;
}
article.main section.example ul li b.title {
	font-size: 18px;
}
article.main section.example ul li p.description {
	width: 620px;
	margin-top: 5px;
	font-size: 13px;
	line-height: 20px;
}
article.main section.example ul li a {
	position: absolute;
	top: 30px; right: 15px;
	display: block;
    padding: 10px 20px; margin: 0 20px 0 0;
    background: #389ABD;
    border-radius: 5px;
    font-weight: bold; font-size: 13px;
    color: #FFF;
}
article.main section.example ul li a:hover {
	background: #FBB963;
}
article.main section.example ul li a:active {
	background-color: #0055CC;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
article.main section.application {
	width: 940px;
	padding-bottom: 20px;
	margin: 40px auto 100px;
	background: #FFF;
	box-shadow: 0 1px 5px #CCCCCC;
}
article.main section.application h3 {
	padding: 40px 40px 30px;
	font-size: 30px;
	font-weight: bold;
}
article.main section.application form {
	width: 860px;
	padding: 30px 0 0; margin: 20px auto;
	border-top: 1px solid #EEE;
}
article.main section.application input {
    width: 320px; height: 60px;
    padding: 0 20px; margin: 0 20px 0 180px;
	font-size: 18px;
	border: 1px solid #CCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
article.main section.application input:focus {
	border-color: rgba(82, 168, 236, 0.8);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
article.main section.application input:-moz-placeholder {
	color: #CCC;
}
article.main section.application input[type="submit"] {
	width: 70px;
	padding: 10px 20px; margin: 0 20px 0 0;
    background: #389ABD;
    border: 0;
    border-radius: 5px;
    font-weight: bold; font-size: 13px;
    color: #FFF;
}
article.main section.example ul li input[type="submit"]:hover {
	background-color: #FBB963;
}
article.main section.example ul li input[type="submit"]:active {
	background-color: #0055CC;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* PLAN */

nav.breadcrumb {
	width: 940px;
	padding: 15px 0 0; margin: 45px auto 0;
}
nav.breadcrumb ul li {
	display: inline-block;
}
nav.breadcrumb ul li {
	font-size: 13px;
}
nav.breadcrumb ul li a {
	color: #389ABD;
}
nav.breadcrumb ul li:after {
	content: "/";
	padding: 0 5px;
	color: #999;
}
nav.breadcrumb ul li:last-child:after {
	content: "";
}

article.plan {
	overflow: hidden;
	position: relative;
	width: 940px;
	margin: 25px auto;
	background: #FFF;
	box-shadow: 0 1px 5px #CCCCCC;
}
article.plan h2 {
	padding: 50px 10px 30px 50px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}
article.plan small.level,
article.plan small.time {
	float: left;
	position: relative;
	padding: 0 10px 0 30px; margin-top: 67px;
	border-right: 1px solid #CCC;
	font-size: 12px;
	color: #389ABD;
}
article.plan small.time {
	border-right: 0;
}
article.plan small.level:before,
article.plan small.time:before {
	content: "👥";
	position: absolute;
	top: -9px; left: 8px;
	padding-right: 5px;
	font-family: "entypo";
	font-size: 30px;
	color: #666;
}
article.plan small.time:before {
	content: "🕔";
}
article.plan section.activity {
	clear: both;
	width: 860px;
	padding-top: 35px; padding-bottom: 50px; margin: 0 auto;
	border-top: 1px solid #EEE;
}
article.plan section.activity img.main {
	float: left;
	display: block;
	width: 180px; height: 120px;
	padding: 5px;
	border:  1px solid #CCC;
}
article.plan section.activity p.description {
	float: left;
	display: block;
	width: 320px;
	margin-left: 30px;
	font-size: 13px;
	color: #333;
	line-height: 18px;
}
article.plan section.activity h3 {
	clear: both;
	font-weight: bold;
    font-size: 18px;
	color: #4C9ED0;
    line-height: 60px;
}
article.plan ul.tools {
	margin: 0 0 9px 25px;
}
article.plan ul.tools li {
	font-size: 13px;
	line-height: 18px;
}
article.plan ol.steps {
	overflow: hidden;
}
article.plan ol.steps > li {
	overflow: hidden;
	position: relative;
	display: block;
}
article.plan ol.steps > li > div {
	display: block;
	width: 438px;
    padding: 20px;
    margin: 0 0 20px 60px;
	background: #F5F5F5;
    border: 1px solid #EEE;
    border-radius: 5px;
    font-size: 13px;
}
article.plan ol.steps > li:before {
	content: "1";
	position: absolute;
	top: 0; left: 0px; z-index: 1;
	width: 40px; height: 40px;
	background: #FBB963;
	border-radius: 40px;
	font-size: 20px;
	color: #FFF;
	line-height: 40px;
	text-align: center;
}
article.plan ol.steps > li:after {
	content: "";
	position: absolute;
	top: 0; left: 18px;
	width: 5px; height: 200%;
	background: #DDD;
}
article.plan ol.steps > li+li:before {
	content: "2";
}
article.plan ol.steps > li+li+li:before {
	content: "3";
}
article.plan ol.steps > li+li+li+li:before {
	content: "4";
}
article.plan ol.steps > li+li+li+li+li:before {
	content: "5";
}
article.plan ol.steps > li.done:before {
	content: "✓";
}
article.plan ol.steps > li.done:after {
	display: none;
}
article.plan ol.steps > li b {
	font-weight: bold;
	font-size: 14px;
	color: #666;
	line-height: 40px;
}
article.plan ol.steps > li p {
	line-height: 20px;
	color: #333;
}
article.plan ol.steps li ul.images {
	overflow: hidden;
	list-style: none;
	margin-top: 15px;
}
article.plan ol.steps li ul li {
	display: inline;
}
article.plan ol.steps li ul.images li img {
	float: left;
	display: block;
	max-width: 55px;
	height: 30px;
	padding: 3px; margin-right: 10px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
}
article.plan aside.author {
	position: absolute;
	top: 170px; right: 0;
	width: 335px; height: 91%;
	border-left: 1px solid #EEE;
}
article.plan aside.author b.title {
	display: block;
	padding: 20px 0 0 30px;
	font-weight: bold;
	font-size: 14px;
	color: #333;
	line-height: 50px;
}
article.plan aside.author img.avatar {
	float: left;
	display: block;
	width: 50px; height: 50px;
	padding: 3px; margin-left: 30px; margin-right: 15px;
	border: 1px solid #CCC;
	border-radius: 2px;
}
article.plan aside.author a.name {
	display: block;
	width: 60%;
	font-weight: bold;
	font-size: 14px;
	color: #4C9ED0;
	line-height: 30px;
}
article.plan aside.author small.profession {
	clear: left;
	font-size: 13px;
}


/* PLAN MENU */
article.plan ul.plan-menu {
	clear: both;
	width: 860px;
	margin: 0 0 0 30px;
	border-bottom: 1px solid #CCC;
	list-style: none;
	line-height: 30px;
	font-size: 13px;
}

article.plan ul.plan-menu li.current {
	border-bottom: 5px solid #4C9ED0;
	font-weight: bold;
}

article.plan ul.plan-menu li {
	display: inline-block;
	min-width: 100px;
	list-style: none;
	padding: 7px 0;
	margin: 0 10px 0 0;
	text-align: center;
}

article.plan ul.plan-menu li a{
	display: block;
	color: #333;
}

article.plan ul.plan-menu li a:hover{
	color: #4C9ED0;
}

article.plan ul.plan-menu li.current label{
	background: #666;
}

article.plan ul.plan-menu li a:hover label{
	background: #4C9ED0;
	cursor: pointer;
}

article.plan ul.plan-menu li label {
	background: #bbb;
	padding: 3px;
	color: #FFF;
	margin: 0 0 0 5px;
	border-radius: 4px;
	font-weight: bold;
}

article.plan hr {
	margin: 0;
}

/* PPT LIST (ZC) */
.card-list {
	width: 860px;
	padding: 0;margin: 15px auto;
	overflow: hidden;
}

.card-list li {
	float: left;
	list-style: none;
	width: 195px;
	margin: 10px 10px 10px 0;
	border-bottom: 1px solid #EEE;
	background: #F5F5F5;
}

.card-list li:hover {
	background: #4C9ED0;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
}

.card-list li:hover * {
	color: #FFF;
}

.card-list li h5 {
	padding: 0 10px;
}

.card-list li p {
	padding: 0 10px;
	color: #999;
}

.card-list li img {
	width: 100%;
}

a.btn {
	background: #4C9ED0;
	border-radius: 5px;
	padding: 10px 10px;
	color: #FFF;
	line-height: 20px;
	text-align: center;
}

b.entypo {
	font-family: "entypo";
	font-weight: normal;
	line-height: 20px;
	margin-right: 5px;
	font-size: 28px;
}

.section {
	margin: 10px;
	padding: 10px;
}

.action-panel {
	margin: 10px; padding: 10px;
	background: #F5F5F5;
	position: relative;
	height: 40px;
}

.action-panel a.btn {
	position: absolute;
	right: 10px;
}

.action-panel p {
	margin: 10px 0 0 0;
	font-size: 12px;
	color: #999;
	position: absolute;
	right: 180px;top: 0;
	line-height: 40px;

}
article.plan ul {
	margin: 0 0 9px 25px;
}
article.plan ul li {
	font-size: 13px;
	line-height: 20px;
}