<article id="about-us" class="main">
  <h1>你好，我们是开放课堂</h1>
  <small class="slogan">我们来自教育大发现，致力于推广中国中小学的实践教育</small>
  <section class="short-description">
    <h2>我们提供</h2>
    <ul>
      <li>
        <img src="/assets/gather.fw.png" alt="教案丰富">
        <b>教案丰富</b>
        <small>百个小学社会实践课教案</small>
      </li>
      <li>
        <img src="/assets/work.fw.png" alt="互动协作">
        <b>互动协作</b>
        <small>基于教案进行讨论和互动</small>
      </li>
      <li>
        <img src="/assets/share.fw.png" alt="成功分享">
        <b>成功分享</b>
        <small>分享孩子们的作品</small>
      </li>
    </ul>
  </section>
  <section class="team-description">
    <h2>这是我们的团队</h2>
    <p>我们的团队由对中国教育热心的15名公益人组成，我们有长期从事中小学教育的实践者、体验式教育的研究者、互联网产品的产品经理、交互设计师、以及程序员，这个平台有我们共同的心血，我们来自教育大发现社区、ThoughtWorks中国、超有爱科技、彩程设计、Ruby社区。</p>
    <p>我们期待更多人加入我们的平台，一起为中国中小学教育加油。</p>
    <img src="/assets/team.fw.png" alt="团队成员">
  </section>
  <section class="contact-us">
    <h2>联系我们</h2>
    <ul>
      <li class="email"><a href="mailto:newclass@gmail.com">contact@newclass.org</a></li>
      <li class="weibo"><a href="http://weibo.com/learnbeta">@新的课堂</a></li>
      <li class="address"><a href="http://j.map.baidu.com/FruIh">成都天府软件园E区E1栋705</a></li>
      <li class="partner">
        <ul>
          <li><a href="http://www.sociallearnlab.org/ "><img src="/assets/partner-sociallearnlab.png" alt="教育大发现"></a></li>
          <li><a href="http://www.thoughtworks.com/"><img src="/assets/partner-thoughtworks.png" alt="ThoughtWorks"></a></li>
          <li><a href="http://mycolorway.com"><img src="/assets/partner-mycolorway.png" alt="彩程设计"></a></li>
          <li><a href="http://www.baicizhan.com"><img src="/assets/partner-chaoyouai.png" alt="百词斩"></a></li>
        </ul>
      </li>
    </ul>
  </section>

</article>
    