.page.container.contact-us-body.thanks
  %div.col-img
    %img{:src=> '/assets/contact-us-img.png'}
  %div.col-text
    %h2 谢谢您的建议。
    %p 感谢您的想法与建议，我们会及时与您联系。
    %hr
    %div.home-button
      %a{:href => '/'}      
        %img{:src=> '/assets/home-button.png'}
    
    

