@import "compass";

$font-color: #222;
$font-light-color: lighten($font-color, 30%);

@mixin btn {
  padding: 10px 20px;
  background: #389ABD;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  color: white;

  &:hover {
    background: #FBB963;
  }
}

