/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  background-color: #2C2C2C repeat-x;
  @include background(linear-gradient(center top, #333333, #222222));
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

header a {
  float: left;
  display: block;
  line-height: 40px;
}

header nav {
  width: 940px;
  margin: 0 auto;
}

header nav h1,
header nav ul {
  display: inline;
}

header nav h1 a {
  margin-right: 20px;
  font-weight: normal;
  font-size: 20px;
  color: #FFF;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  padding: 0 8px;
  font-size: 13px;
  color: #999;
}

header nav ul li a:hover {
  color: #FFF;
}
