// Place all the styles related to the lessonplans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* PLAN */
article.plan {
  overflow: hidden;
  position: relative;
  width: 940px;
  padding: 0 0 40px 0;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0 1px 5px #CCCCCC;
}

article.plan h2 {
  padding: 50px 10px 30px 50px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

article.plan small.level,
article.plan small.time {
  float: left;
  position: relative;
  padding: 0 10px 0 30px;
  margin-top: 67px;
  border-right: 1px solid #CCC;
  font-size: 12px;
  color: #389ABD;
}

article.plan small.time {
  border-right: 0;
}

article.plan small.level:before,
article.plan small.time:before {
  content: "?";
  position: absolute;
  top: -9px;
  left: 8px;
  padding-right: 5px;
  font-family: "fontello";
  font-size: 30px;
  color: #666;
}

article.plan small.time:before {
  content: "?";
}

article.plan section.activity {
  clear: both;
  line-height: 18px;
  padding: 35px 10px 50px 0;
  margin: 0 350px 0 40px;
  float: left;
  border-right: 1px solid #EEE;
}

article.plan section img.main {
  float: left;
  display: block;
  width: 180px;
  padding: 5px;
  border: 1px solid #CCC;
}

article.plan section.activity p {
  color: #333;
  line-height: 20px;
  font-size: 13px;
  width: 550px;
  margin: 0 0 20px 0;
}

article.plan section.activity p.description {
  float: left;
  display: block;
  width: 320px;
  margin-left: 25px;
}

article.plan section.activity h3 {
  clear: both;
  font-weight: bold;
  font-size: 18px;
  color: #4C9ED0;
  line-height: 60px;
}

article.plan section.activity img {
  max-width: 550px;
  height: auto;
}

article.plan section.activity ul {
  width: 520px;
  color: #333;
}

article.plan ul {
  margin: 0 0 9px 25px;
}

article.plan ul li {
  font-size: 13px;
  line-height: 20px;
}

article.plan ol.steps {
  overflow: hidden;
}

article.plan ol.steps p {
  width: 100%;
}

article.plan ol.steps > li {
  overflow: hidden;
  position: relative;
  display: block;
}

article.plan ol.steps > li img {
  max-width: 400px;
  display: block;
}

article.plan ol.steps > li > div {
  display: block;
  width: 438px;
  padding: 10px 20px 10px 20px;
  margin: 0 0 20px 60px;
  background: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 5px;
  font-size: 13px;
  overflow: hidden;
}

article.plan ol.steps > li > label,
article.plan ol.steps > li.done > div:before,
article.plan ol.steps > li.new-step:before {
  color: #fff;
  width: 40px;
  height: 40px;
  background: #FBB963;
  border-radius: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
}

article.plan ol.steps > li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  width: 5px;
  height: 100%;
  background: #DDD;
}

article.plan ol.steps > li.done > div:before {
  content: "\2713";
}

article.plan ol.steps > li.new-step:before {
  content: "æ–°";
}

article.plan ol.steps > li.new-step:after {
  height: 0;
}

article.plan ol.steps a.plan-action {
  line-height: 20px;
}

article.plan ol.steps > li.done:after {
  display: none;
}

article.plan ol.steps > li b {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin: 5px 0;
  word-wrap: break-word;
}

article.plan ol.steps > li p {
  line-height: 20px;
  color: #333;
  margin-bottom: 10px;
}

article.plan ol.steps li ul,
article.plan ol.steps li ol {
  width: 95%;
  margin: 0 0 20px 20px;
  line-height: 20px;
}

article.plan ol.steps li ul li,
article.plan ol.steps li ol li {
  padding: 0;
}

article.plan ol.steps li ul li {
  list-style: disc;
}

article.plan ol.steps li ol li {
  list-style: decimal;
}

article.plan ol.steps li ul.images {
  overflow: hidden;
  list-style: none;
  margin: 0 0 20px 0;
}

article.plan ol.steps li ul.images li {
  display: inline;
}

article.plan ol.steps li ul.images li img {
  float: left;
  display: block;
  height: 55px;
  padding: 3px;
  margin-right: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 2px;
}


article.plan h3 {
  clear: both;
  font-weight: bold;
  font-size: 18px;
  color: #4C9ED0;
  line-height: 60px;
}

article.plan.edit {
  line-height: 18px;
}

article.plan.edit img.main {
  float: none;
  margin-bottom: 5px;
}

article.plan.edit section {
  padding: 40px 355px 20px 0px;
}

article.plan.edit form {
  float: left;
  padding: 0 0 0 40px;
}

article.plan.edit section:nth-of-type(1) {
  border-bottom: 1px solid #eee;
}

article.plan.edit aside.author {
  position: relative;
  top: 120px;
}


.page-title h1 {
  line-height: 80px;
}

.page-title {
  border-bottom: 1px solid #EEE;
}

.plan-attribute {
  color: #ccc;
  font-size: 12px;
  line-height: 80px;
  font-weight: normal;
}

.plan-quote {
  position: relative;
  min-height: 120px;
}

.plan-quote img {
  width: 180px;
  height: 120px;
  position: absolute;
}

.plan-quote quote {
  padding: 0 0 0 220px;
  display: block;
  min-height: 100px;
  position: relative;
}


.page-action {
  margin: 40px 40px 0 40px;
}

.comments {
  clear: both;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-right: 355px;
  padding-left: 40px;
}

.comments.lightbox-comments {
  padding: 0;
}

#lightbox_comments_form {
  margin: 5px 0;

  #comment_content {
    margin-bottom: 0;
    width: 450px;
  }

  input[type='submit'] {
    padding: 4px 10px !important;
    position: relative;
    left: 20px;
  }
}

.comment input[type='submit'] {
  padding: 5px 15px !important;
}

.comments ul {
  padding: 0;
  margin: 0 !important;
}

.comments li {
  list-style: none;
  margin-bottom: 5px;
  background: whiteSmoke;
  padding-left: 40px;
  position: relative;
}

.comments li:hover a.delete {
  display: inline-block;
}

.comments li a.delete {
  display: none;
  position: absolute;
  right: -30px;
  top: 0;
  text-align: center;
  width: 30px;
  background: whiteSmoke;
  padding: 2px;
  z-index: 99;
  @include border-radius(0 4px 4px 0);
}

.comments .comment-avatar {
  float: left;
  margin-left: -40px;
}

.comments .comment-content {
  padding: 5px;
}

.comments .comment-avatar img {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid #eee;
}

.comments .nick-name {
  color: #389ABD;
  font-weight: bold;
}

.comments .comment-time {
  color: grey;
  font-size: 10px;
  font-style: italic;
}

.comments textarea {
  width: 500px;
}

article ul.plan-menu {
  clear: both;
  width: 860px;
  margin: 0 auto 10px auto;
  border-bottom: 5px solid #eee;
  list-style: none;
  line-height: 30px;
  font-size: 13px;
}

article ul.plan-menu li {
  display: inline-block;
  min-width: 100px;
  list-style: none;
  padding: 7px 0;
  margin-bottom: -5px;
  text-align: center;

  &:hover {
    border-bottom: 5px solid lighten(#4C9ED0, 30%);
  }
}

article ul.plan-menu li a {
  display: block;
  color: #333;
}

article ul.plan-menu li.current {
  border-bottom: 5px solid #4C9ED0;
  font-weight: bold;
}

article ul.plan-menu li.current label {
  background: #666;
}

article ul.plan-menu li label {
  display: inline-block;
  background: #BBB;
  padding: 1px 3px;
  color: white;
  margin: 0 0 0 5px;
  border-radius: 4px;
  font-weight: bold;
}

article ul.plan-menu li a:hover label {
  background: #4C9ED0;
  cursor: pointer;
}

article ul.plan-menu li a:hover label {
  background: #4C9ED0;
  cursor: pointer;
}
