// Place all the styles related to the publishers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

#profile{

	$left-space-width: 150px;

	label{
		display: inline-block;
		font-size: 1.1em;
		width: $left-space-width;
		color: #999;
		margin-right: 20px;
		margin-left: 20px;
		text-align: left;
		vertical-align: top;
	}

	.btn.btn-primary{
		margin-left: $left-space-width + 40 !important;
	}

}

ul.teaser-list, ul.teaser-list li{
	list-style: none;
}

ul.teaser-list{

	border-top: 1px solid #eee;

	h4 a{
		line-height: 20px
	}

	li{
		border-bottom: 1px solid #eee;
		padding: 10px 100px 10px 20px;
		position: relative;
	}

	p{
		color: #999;
		padding: 0;
	}

	.enter{
		position: absolute;
		right: 20px;
		top: 10px;
	}
}
