body {background: url(bg.png) #F5F5F5 repeat-x -15px 10px; font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";}
body.home {background: url(front-bg.png) #F5F5F5 repeat-x left -30px}
a, .btn-link {color: #0e7684;}
a:hover, .btn-link:hover {color: #309BAB}
.navbar .container {width: 950px;}
.page {background: #FFF; padding: 40px 20px 0 20px;width: 950px;}
.page .container{width: 950px;}
.section {padding: 10px 0 20px 0;}
.section textarea {width: 90%;}
.course-header * {margin-right: 10px; display: inline-block; vertical-align: middle;}
img.logo {width: 80px; height: 80px; background: #FFF;}
hr{margin: 0;}
form {margin: 0;}
h5 {color: #5DBBCE}

button.btn-new-plan {border-radius: 5px; height: 60px; width: 200px; font-size: 20px; font-weight: bold; background: #FA6900; color: #FFF; text-shadow: none; font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";}
button.btn-new-plan i{position: relative; top: 4px;}
button.btn-strong, button.btn-strong:hover {background: #FA6900; color: #FFF;text-shadow: none;}
button.btn-add-task {background: #F5F5F5; color: #333;text-shadow: none;}

.course-header {position: relative; left: -20px; background: #69D2E7; padding: 20px; width: 100%; border-bottom: #5DBBCE solid 10px}
.course-header h1 {margin: 0; background: #FFF; color: #5DBBCE; padding: 5px 10px; font-size: 20px;}
.course-header.home {position: absolute; width: 100%; background: url(front-bg.png)}


.hero {width: 500px; margin: 63px 0 0 0; }
.new-plan {padding: 0;background: url(hero-bg.png);color: #FFF;}
.new-plan h1{font-size: 32px; line-height: 38px;}
.new-plan {position: absolute; width: 100%; left: 0; border-bottom: 10px solid #DDD; height: 320px;}
.new-plan button.btn-new-plan {border-radius: 5px; height: 60px; width: 200px; font-size: 20px; font-weight: bold; background: #FA6900; color: #FFF; text-shadow: none; font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";}
.new-plan .pull-left {position: relative; top: 100px; left: 0; width: 400px;}
.new-plan .carousel-control {top: 140px;}
.new-plan .carousel-control.left {left: -80px;}
.new-plan .carousel-control.right {right: -80px;}

.ongoing-plan {margin-top: 330px;}
.ongoing-plan .plan-avatar {width: 100px;}

.weibo-textbox {width: 300px;}

.plan-list {margin: 0; padding: 0}
.plan-frame {list-style: none; float: left; width: 81.5px; height: 81.5px; padding: 5px; margin: 10px 10px 0 0; background: #F5F5F5; border: 1px solid #EEE; }
.plan-frame img{width: 100px; height: 80px;}
.avatar {width: 100%; height: 100%; background: #FFF;}
.plan .progress {height: 10px; margin-top: 5px;}

.plan-intro {width: 160px; height: 160px;}
.plan-intro p {font-size: 12px; margin: 10px 0; color: #111}

.feature .plan {width: 100%; height: 245px;}
.feature .plan-intro h5{font-size: 30px; line-height: 40px;}
.feature .plan img{width: 100%}

.feature .plan-intro p {font-size: 14px; margin-bottom: 10px;}
.feature .plan-intro ul {margin: 0}
.feature .plan-intro ul li {list-style: none; font-size: 12px; color: #333}
.feature .plan-intro ul > li + li {border-top: 1px dotted #EEE; margin-top: 5px; padding-top: 5px;}


h2.name {font-size: 18px; margin-top: 20px;}
.right-content { box-shadow: 0px -10px 0 #5DBBCE; padding: 10px; border-radius: 4px 4px 0 0; position: relative; top: -70px; background: #FFF;}
.right-content.edit{top: -122px;}
.right-content .plan{float: none; margin: 0 0 10px 0;}
.right-content .section {margin: 0 0 20px 0; padding: 0}
.right-content hr {margin-bottom: 20px;}

.member-list img {width: 30px; height: 30px;}
.member-list {margin: 0 0 1px 0; padding: 0; list-style: none;}
.member-list li {margin: 0 1px 1px 0; float: left;}

.creator-list img {width: 30px; height: 30px; margin-right: 10px}
.creator-list {margin: 0 0 1px 0; padding: 0; list-style: none;}
.creator-list li {margin-bottom: 20px;}
.creator-list p {color: #666; font-size: 11px; margin: 0;line-height: 15px}
.creator-list h6 {line-height: 15px; margin: 0 0 10px 0;font-weight: normal;}

.homework-list img {width: 25%; height: 175px; float: left;}

.task-list {margin: 0; padding: 0; list-style: none;}
.task label.like-number {text-align: center; padding: 5px 0; font-size: 10px; color: #FFF; background: #69D2E7; border-radius: 3px; margin: 0 10px 0 0;}
.task img {width: 24px; height: 24px;margin-right: 10px;}

.task-like {width: 10%;}
.task-content {width: 90%}
.task-content h6{cursor: pointer; background: #F5F5F5; padding: 5px; font-weight: normal; font-size: 14px; margin-top: 0;}
.task-content p {margin-bottom: 5px; font-size: 12px;}
.task-content small {line-height: 24px; font-size: 12px; margin-bottom: 5px;display: block;}

.task-content-action {text-align: right;cursor: pointer;}

.homework-list {margin: 0; padding: 0; list-style: none;}
.homework label.like-number {text-align: center; padding: 5px 0; font-size: 10px; color: #FFF; background: #69D2E7; border-radius: 3px; margin: 0 10px 0 0;}
.homework img {width: 24px; height: 24px;margin-right: 10px;}

.homework-like {width: 10%;}
.homework-content {width: 90%}
.homework-content-images {padding-bottom: 5px;}
.homework-content-images img{float: left; width: 80px; height: 60px; margin-right: 5px;}
.homework-content h6{cursor: pointer; background: #F5F5F5; padding: 5px; font-weight: normal; font-size: 14px; margin-top: 0;}
.homework-content p {margin-bottom: 5px; font-size: 12px;}
.homework-content small {line-height: 24px; font-size: 12px; margin-bottom: 5px;display: block;}

.homework-content-action {text-align: right;cursor: pointer;}



.comment-area li {list-style: none;}
.comment-list {margin: 0; padding: 0 0 0 35px;}
.comment-list > li + li {border-top: 1px dotted #DDD}
.comment {padding: 10px 0 0 0; margin: 5px 0;}
.comment small {line-height: 10px; font-size: 12px; margin-bottom: 5px;display: block;}
.comment-avatar {width: 20px; height: 20px; margin-right: 10px; }
.comment-text {color: #666; font-size: 13px;}
.comment-text textarea {width: 450px; margin: 5px 0 0 0;}
.comment-user {color: #111}
.comment-time {color: #999; font-style: italic; margin: 0;}

.plan-icon-holder{color:white;width: 100%;text-align: center; display: block; padding:0;}
.plan-icon-holder:hover {color:white;}
.plan-icon-holder img{width: 200px; height: 200px}


.modal {width: 585px;}
.avatar-list {margin: 0; padding-left: 5px; }
.avatar-list [type="radio"]{display:none;}
.avatar-list li {float: left; list-style: none; margin-right: 5px; margin-bottom: 5px; position: relative;}
.avatar-list img {width: 50px; height:50px; cursor: pointer;box-shadow: inset 0 2px 2px #ccc;}
.avatar-list i { position: absolute; top: 0px; left: 0px; display: none;width:40px;height:40px;z-index:999;border:5px solid #0074ea;}
.avatar-list .selected i {display: block;}

.page-action {background:#E4F1F3; margin: 10px 0 0 0; padding: 10px 10px 10px 10px; position: relative; width: 100%; left: -10px;}
.page-action input {padding: 0;}

.like-box {border-radius: 2px; background: #dce9d3; color: #fff; font-style: italic; padding: 5px 10px;}

.case-item-list {padding-top: 10px;}
.case-picture-img img{width: 100%}
.case-picture-img {padding: 5px 5px 20px 5px; border-radius: 6px; margin: 0; background: #F5F5F5; border: 1px solid #EEE;}

.footer {height: 200px; background: #FFF;}
.footer small {position: relative; color: #DDD; left: 20px; top: 170px;}

/*Responsive*/

@media (min-width: 979px) and (max-width: 1200px) {
  .hero {width: 500px; margin-top: 110px;}
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-fixed-top {margin-bottom: 0}
  .course-header {padding: 20px 20px 10px;}
  .page {padding: 0 20px 0 20px;}
  .new-plan {padding-top: 20px;}
  .new-plan .pull-left {width: 200px; position: inherit;}
  .new-plan .pull-left h1 {line-height: 40px;}
  .new-plan .pull-right {}
  .hero {width: 410px; margin: 148px 0 0 0}
  .ongoing-plan {margin-top: 330px;}
}



