.wysihtml5-wrapper {
  position: relative;
  border: 1px solid #ccc;
  padding-bottom: 30px;
  @include border-radius(4px);

  .toolbar {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fafafa;
    padding: 5px;
    border-top: 1px solid #eee;
    @include border-radius(0 0 4px 4px);

    a {
      font-family: "fontello";
      margin: 0 5px;
      float: left;
    }
  }

  .fileList{
    margin: 0;
  }
}

.file-upload-wrapper {
  font-family: 'fontello';
  overflow: hidden;
  display: inline-block;
  position: relative;
  cursor: pointer;

  input {
    @include opacity(0);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: auto;
    cursor: pointer;
  }
}

article.plan ol.steps li ul.fileList {
  margin: 0;
  padding: 0;
  width: auto;

  li {
    background: #fafafa;
    border-top: 1px solid #f4f4f4;
  }

  b {
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    margin: 5px 10px;
  }

  .progressbar, .progress {
    @include border-radius(0);
  }
}