body img{
  max-width: 400px;
}

.image-loading-placeholder {
  display: inline-block;
  width: 400px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-style: italic;
  color: #888;
  background: #f1f1f1;
  border: 3px dashed #ddd;
}